<footer id="footer" >
    Copyright © 2023 dance++academy.com | All rights are reserved
</footer>
<script src="https://kit.fontawesome.com/bf6daeeeed.js" crossorigin="anonymous"></script>
<script src="/assets/scripts/script.js"></script>
</body>

</html>