<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance++ Academy -The most popular Academy for Dance Champs</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/media.css">
    <link rel="icon" href="/assets/favicons/favicon.ico">
</head>

<body>
    <nav class='navbar'>
        <div class="nav-left-div">
            <div class="logo-div">
                <img src="/images/home/boy-2023221_1280.webp" alt="D++" class="logo-img">
                <span>D++</span>
                <ul class="nav-ul">
                    <li><a class="nav-link" href="/">Home</a></li>
                    <li><a class="nav-link" href="/gallary">Gallary</a></li>
                    <li><a class="nav-link" href="/class-info">Class Info</a></li>
                    <li><a class="nav-link" href="/contact">Contact</a></li>
                    <li><a class="nav-link" href="/faculty">Faculty</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-right-div">
            <a href="/logout" class="login">Logout</a>
            <span class="fa-solid fa-bars" id="hamberger"></span> 

        </div>

    </nav>
 