<%- include("header") -%>
<main>
    <section class="flex home-page">
        <div> Welcome to Dance++ Academy </div>
        <div class="div">Learn, Walk and Play Dance</div>
    </section>
    <section class="our-mission">
        <h2>Our Mission</h2>
        <article class="flex">
            <div class="cards">
                <h3 class="card-title">Title</h3>
                <div class="card-body">
                    <img src="/images/home/ballerina-2026419_1280.webp" alt="" width="80px">
                    <div class="card-body-text">
                        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, magnam?</span>
                    </div>
                </div>
            </div>
            <div class="cards">
                <h3 class="card-title">Title</h3>
                <div class="card-body">
                    <img src="/images/home/ballerina-2026419_1280.webp" alt="" width="80px">
                    <div class="card-body-text">
                        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, magnam?</span>
                    </div>
                </div>
            </div>
            <div class="cards">
                <h3 class="card-title">Title</h3>
                <div class="card-body">
                    <img src="/images/home/ballerina-2026419_1280.webp" alt="" width="80px">
                    <div class="card-body-text">
                        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, magnam?</span>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section class="our-sponsor">
        <h2>Our Sponsors</h2>
        <article class="sponsor-img">
            <img src="/images/sponsor/amazon.avif" alt="">
            <img src="/images/sponsor/download (1).jpg" alt="">
            <img src="/images/sponsor/download (2).jpg" alt="">
            <img src="/images/sponsor/download.jpg" alt="">
        </article>
    </section>
</main>
<%- include("footer") -%>